node-red/flows.json
[{"id":"301660e6.57cb88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d8d8760e.0f21d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a971ca1.aeb168","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7eddb3db.ba3bfc","type":"server","z":"","name":"Home Assistant"},{"id":"f3f21843.8c61c8","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"27.890814","longitude":"-82.50234640000001"},{"id":"565ca522.be8044","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false},{"id":"a3047629.df1c6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9e870ef.273657","type":"server","z":"","name":"Home Assistant","legacy":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"f521e215.e5e43","type":"light-scheduler","z":"301660e6.57cb88","settings":"f3f21843.8c61c8","events":"[{\"start\":{\"dow\":1,\"mod\":150},\"end\":{\"dow\":1,\"mod\":165}},{\"start\":{\"dow\":4,\"mod\":150},\"end\":{\"dow\":4,\"mod\":165}}]","topic":"","name":"Once a week","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":"","sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":280,"wires":[["75632fb8.f7e6f"]]},{"id":"c4b64d30.21c6f8","type":"switch","z":"301660e6.57cb88","name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":280,"wires":[["cd118850.3fa5","ea5c052b.432c58"]]},{"id":"ea5c052b.432c58","type":"delay","z":"301660e6.57cb88","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":240,"wires":[["d8a44c4.ef04d3"]]},{"id":"d8a44c4.ef04d3","type":"api-call-service","z":"301660e6.57cb88","name":"hassio","server":"565ca522.be8044","version":1,"service_domain":"hassio","service":"addon_stdin","entityId":"","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":770,"y":240,"wires":[[]]},{"id":"cd118850.3fa5","type":"function","z":"301660e6.57cb88","name":"format snapshot","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"name\": (new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_Snapshot\",\n    \"folders\":[\"homeassistant\",\"share\"]\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["3cf99654.094952"]]},{"id":"3cf99654.094952","type":"api-call-service","z":"301660e6.57cb88","name":"Snapshot","server":"565ca522.be8044","version":1,"service_domain":"hassio","service":"snapshot_partial","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":860,"y":300,"wires":[[]]},{"id":"75632fb8.f7e6f","type":"rbe","z":"301660e6.57cb88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":280,"wires":[["c4b64d30.21c6f8"]]},{"id":"f3b43dd1.1bafe","type":"inject","z":"301660e6.57cb88","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["75632fb8.f7e6f"]]},{"id":"655cb67e.5009c8","type":"server-state-changed","z":"d8d8760e.0f21d8","name":"","server":"7eddb3db.ba3bfc","version":1,"entityidfilter":"sensor.bad_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"30","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"x":240,"y":220,"wires":[["b93d11ac.342e3"],[]]},{"id":"b93d11ac.342e3","type":"debug","z":"d8d8760e.0f21d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":240,"wires":[]},{"id":"8affc82a.776b88","type":"api-current-state","z":"d8d8760e.0f21d8","name":"","server":"7eddb3db.ba3bfc","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.bad_humidity","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":400,"wires":[["5b240a0d.1d7954"],[]]},{"id":"5b240a0d.1d7954","type":"debug","z":"d8d8760e.0f21d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":400,"wires":[]},{"id":"111e0d98.4b2bb2","type":"api-call-service","z":"8a971ca1.aeb168","name":"","server":"9e870ef.273657","version":1,"debugenabled":false,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{ \"name\": \"midnight\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":240,"wires":[[]]},{"id":"90142e7a.62a1d8","type":"api-current-state","z":"8a971ca1.aeb168","name":"","server":"9e870ef.273657","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sun.sun","override_payload":true,"x":320,"y":240,"wires":[["a98d041f.00034"]]},{"id":"a98d041f.00034","type":"switch","z":"8a971ca1.aeb168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"below_horizon","vt":"str"},{"t":"eq","v":"above_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":502,"y":270,"wires":[["111e0d98.4b2bb2"],["55a0b4b5.99b144"]]},{"id":"55a0b4b5.99b144","type":"api-call-service","z":"8a971ca1.aeb168","name":"","server":"9e870ef.273657","version":"1","debugenabled":false,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{ \"name\": \"default\" }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":300,"wires":[[]]},{"id":"392b7ceb.06c1f4","type":"comment","z":"8a971ca1.aeb168","name":"Home Assistant Day/Night Theme Changer","info":"","x":460,"y":200,"wires":[]},{"id":"25662114.b92ad6","type":"server-state-changed","z":"8a971ca1.aeb168","name":"","server":"9e870ef.273657","version":1,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":320,"y":300,"wires":[["a98d041f.00034"]]},{"id":"620b1ae7.48f924","type":"inject","z":"8a971ca1.aeb168","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":240,"wires":[["90142e7a.62a1d8"]]}]
